apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-portal-eployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
        - name: student-container
          image: student-image:v1
          ports:
            - containerPort: 5000